[submodule "nifH_amplicons_analysis"]
	path = nifH_amplicons_analysis
	url = https://github.com/444thLiao/nifH_amplicons_analysis
[submodule "AliTV_python_interface"]
	path = AliTV_python_interface
	url = https://github.com/444thLiao/AliTV_python_interface
